.oswald-normal {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --light: #faf3dd;
    --mid-light: #c8d5b9;
    --mid-dark: #8fc0a9;
    --dark: #68b0ab;

    --padding: .75em;

    --svg-width: 50px;
    --sidebar-width: 300px;
    --header-height: 200px;

    --regular-font: 1.25em;
    --large-font: 1.5em;
}

body {
    font-family: "Oswald", Cambria, Cochin, Georgia;
    font-size: var(--regular-font);
    color: var(--dark);

    line-height: 1.5;
    letter-spacing: .1rem;

    -webkit-font-smoothing: antialiased;
}

.container {
    height: 100vh;
    overflow: auto;

    display: grid;

    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
}

/* Sidebar */
.sidebar {
    background-color: var(--dark);
    color: var(--mid-dark);

    padding: var(--padding);
    box-shadow: inset -2px 0px 2px 0px rgba(0, 0, 0, 0.25);

    grid-row: 1/3;

    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    gap: var(--padding);
}

#branding {
    color: var(--light);
    fill: var(--light);

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--padding);

    align-items: center;
    align-content: start;
}

.sidebar .buttons {
    display: grid;
    grid-template-rows: 2fr 1fr;

    align-items: center;
    /* Double gap for these buttons */
    gap: calc(2 * var(--padding));
}

#navigation>li,
#controls>li {
    list-style-type: none;
    font-size: var(--large-font);
}

#navigation a,
#controls a {
    color: var(--mid-light);
    fill: var(--mid-light);
    text-decoration: none;

    display: grid;
    grid-template-columns: var(--svg-width) 1fr;
    gap: var(--padding);
}

/* Header */
.header {
    background-color: var(--mid-dark);
    color: var(--light);

    padding: var(--padding);
    gap: var(--padding);

    box-shadow: inset 0px -2px 2px 0px rgba(0, 0, 0, 0.25);

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.search {
    fill: var(--mid-light);

    grid-column: 1/2;

    display: grid;
    grid-template-columns: var(--svg-width) 1fr;
    align-items: center;
    gap: var(--padding);
}

#search-button:active {
    fill: var(--dark);
}

#search-bar {
    background-color: var(--light);
    font: inherit;
    color: var(--dark);

    letter-spacing: .1rem;

    border-radius: 1em;
    border: none;
    outline: none;
    padding: var(--padding);
}

#search-bar::-webkit-search-cancel-button {
    /* Removes the cancel button from the search bar */
    -webkit-appearance: none;
}

.account {
    font-size: var(--large-font);

    fill: var(--light);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--padding);
}

#user-login {
    color: var(--light);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.account svg {
    width: 50px;
}

.account>#notification-icon {
    fill: var(--mid-light);
}

.banner {
    display: grid;
    align-items: center;

    grid-template-columns: 100px 1fr;
}

.banner>#user-icon {
    fill: var(--light);
}

.account-buttons {
    grid-column: 2/3;

    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: var(--padding);
    align-items: center;
}

.account-buttons>#new,
.account-buttons>#upload,
.account-buttons>#share {
    background-color: var(--dark);

    font-size: var(--regular-font);
    color: var(--light);
    text-decoration: none;
    text-align: center;

    border-radius: 1em;
    border: none;
    padding: var(--padding);

    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

/* Content */
.content {
    background-color: var(--mid-light);
    padding: var(--padding);
    gap: var(--padding);

    display: grid;
    grid-template-columns: 2fr minmax(var(--sidebar-width), 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#project-container>.project,
#announcement-container,
#trend-container {
    background-color: var(--light);

    font-size: var(--regular-font);

    border-radius: 1em;
    padding: var(--padding);

    display: grid;
    gap: var(--padding);

    box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.44);
}

.projects,
.announcements,
.trending {
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: var(--padding);
}

.projects {
    grid-row: 1/3;
}

#project-container {
    display: grid;
    gap: var(--padding);

    grid-template-columns: repeat(2, minmax(250px, 1fr));
}

#project-container>.project {
    border-left: 10px solid var(--dark);
}

.project>.icons {
    justify-self: right;
}

.project>.icons>svg {
    width: var(--svg-width);
    fill: var(--mid-dark);
}

#announcement-container {
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

#trend-container {
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

.trending-story {
    display: grid;
    grid-template-columns: var(--svg-width) 1fr;
    gap: var(--padding);
}

#story-casey {
    fill: rgb(117, 21, 228);
}

#story-lili {
    fill: rgb(243, 125, 237);
}

#story-mara {
    fill: rgb(131, 0, 55);
}

#story-leon {
    fill: rgb(255, 102, 128);
}